@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');
html,body{
    margin:0;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding-left: 15px;
    padding-right: 15px;
}
h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}
/*--------header-------*/
#header {
	margin: 0 auto;
	height: 87px;
}

#logo { text-align: center; }

#logo img { margin: 16px auto; }

#logo h1 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	color: #777;
	font-size: 50px;
	width: 564px;
	margin-top: 15px;
}

#account {
	margin-top: -10px;
	float: right;
}

#started {
	width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
#login img{
    margin:5px 5px;
    margin-top:39px;
}

#login a{
    text-decoration: none;
    line-height: 42px;
    font-size: 22px;
    color:#777;
}
#started a{
    text-decoration: none;
    line-height: 42px;
    font-size: 18px;
    color:#fff;
}

#login a:hover{
    text-decoration: underline;
}
#topGetStartedForFree:hover{
    color:#fff;
}
/*-------dropdown-menu--------*/

#drop-down-menu{
    clear: both;
    width:75%;
}
/*---------baner---------*/
#banner-container{
    height: auto;
    background-color: rgba(125,166,207,0.91);
    margin-left: -15px;
    margin-right: -15px;
}
#banner-content{padding: 15px;}
#banner-content h2{font-size:25px;}
.title-banner{
    font-size: 30px;
    color:#fff;
    margin: 0;
    margin-left:-2px;
    margin-bottom:20px;
    text-align: center;
}
.text-banner  {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
a.btn--oxford {
    line-height: 45px;
    text-decoration: none!important;
}
.btn--blue {
    border: 1px solid #c9dff2;
    border-radius: 6px;
    color: #000;
    box-shadow: 0 1px 2px #79b8ff;
    background-color: #79b8ff;
}
.btn--oxford {
    border: none;
    height: 45px;
    padding: 0 20px;
    display: inline-block;

}
.btn--blue:hover{
    background-color: rgba(30, 141, 249, 0.17);
    color:black;
}
/*---------details-bar----------*/
#details-bar{
    width: 100%;
    height:70px;
    background: rgba(125,166,207,0.91);
}
.pull-right{
    float: right;
    margin-right: 50px;
}
.api-detail-btn {
    display: inline-block;
}
.btn--teal:active, .btn--teal:hover {
    background-color: #004b50;
    font-weight: 400;
    color: #FFF!important;
    border: none;
}
.btn--teal {
    background-color: #008272;
    color: #FFF!important;
    margin: 10px 5px;
}
.accordion{
    display: block;

}
/*------------container---------*/

#container{
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
}
#supbanner-text{
    text-align: center;
    margin-bottom: 50px;
}
#supbanner-text h2,
.topic-content h2,
#price-table h2{
    color:#268abf;
}
#supbanner-text p{
    font-size:20px;
    margin-top:20px;
    text-align:justify;
    color:#777;

}
.selectpicker{
    margin:0;
    padding: 0;
    display:table-cell;
}
.col-lg-6{
    margin-left:-15px;
    margin-right:-15px;
}
.accordion span{
    width:50px;
}
.input-group{
    position:relative;
    display: block;
    width:100%;
    margin-top: 10px;
}
.input-group-addon:first-child {
    width:50%;
}
.form-control,.btn-default {
    height: 40px !important;
    font-size: 18px !important;
}
.collapse.accordion-content{

    margin-right: -0.4px;
    border: 1px solid #ddd;
}
/********tabs********/
.activate-tab {
    cursor: pointer;
    float: left;
    padding-right: 20px;
    padding: 11px;
    border-radius: 4px 4px 0 0;
    background-color: rgb(144, 121, 121);
    color: white;
    font-size: large;
}
.tab-content {
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: rgba(173,173,173,0.15);
    border: none;
}
.demo-codes {
    word-wrap: break-word;
    color: #2a2a2a;
    border: solid 1px #939393;
}
#tab-container{
    width:100%;
    margin-top: 10px;
}
#select-menu{
    width:100%;
    margin-right: 50px;
}

/**********accordion****************/


.accordion-item
{
    border-bottom:1px solid #E0E0E0;
}
.accordion-item-active .accordion-header-icon
{
    color:black;
}
.accordion-header
{
    background:#f2f2f2;
    padding:12px;
    cursor:pointer;
    border:1.5px solid #ddd;
    min-height:20px;
    transition:.25s;
    border-radius:4px;
    margin-top: 20px;
    box-sizing: initial;
}
.accordion ul{
    width:100%;
    margin-top: -12px;
    margin-left: 1px;
}
.accordion ul li{

    padding:12px 10px;
    padding-left: 15px;
    cursor:pointer;
    border:1px solid #ddd;
    min-height:20px;
    transition:.25s;
    list-style: none;
    margin-left:-53px;
    margin-right:-14px;
}
.accordion ul li:hover{background: #f2f2f2;}
.accordion ul li a{
    text-decoration: none;
    color:black;
}
.accordion-header h1{
    font-size:18px;
    font-weight: normal;
    margin:0;
    line-height: 1.3em;
    color:#212121;
}
.accordion-content
{
    display:none;
    padding:12px;
    color:#212121;
    background:#FFF;
    font-size:15px;
    line-height:1.45em;
    margin-bottom: -1px;
    margin-right: 3px;
}
.accordion-content p
{
    margin:0;
    margin-bottom: 3px;
}
.accordion-header-icon
{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    float:right;color:#888;
    font-size: 21px;
    margin-top: -27px;
}
.collapse .accordion-content{
    padding: 0;
}
#topics{
    background-color: rgba(135,173,210,0.17);
    margin-left: -15px;
    margin-right: -15px;
}
.topic-content{
    margin-top:50px;
    padding: 15px;
}
.topic-content h2 {text-align: center;}
.topic-content p{font-size: 20px;}
#topics img,#topics2 img{
    float:right;
    margin-top:-184px;
    margin-right:11.5%;
}
#topics p,#topics2 p{
    margin-top:15px;
    color:#777;
}
#topics2{
    margin-top: -50px;
    margin-left: -15px;
    margin-right: -15px;
}
#topics img,#topics2 img{
    width:250px;
    height:250px;
}
/*------------price table-------*/
#price-table{
    background-color: rgba(135,173,210,0.17);
    margin-left: -15px;
    margin-right: -15px;
}
#btn-bottom{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 200px;
}

.bottom-fix {
	background: none repeat scroll 0 0 rgba(125, 166, 207, 0.91);
	width: 100%;
	height: 53px;
	color: #fff;
	line-height: 53px;
	text-align: center;
	margin: 0;
	width: 100%;
}

.box-from-list {
	float: left;
	width: 100%
}

#title-json {
    float:left;
    width:70%;
    margin-left:120px;
    margin-top:-80px;
    font-size:20px;
}
.box-from-list{display:block;}
.title-json {margin-left:10px}
.img-json {
    float: left;
    max-width: 120px;
    max-height: 92px;
    margin-bottom: 5px;
    margin-top:20px;
    width: 120px;
}
.description-json,.title-json{
    padding-left:10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 806px;
    float: right;
}
.img-json-block{
    max-width: 120px;
    max-height: 98px;
    float:left;
    text-indent:-999px;
}
#img-json-block{
    width:100%;
    float:left;
    text-indent:-999px;
}
.secound-description-json,.title-json1{
    padding-left: 1px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.loader {
    margin:0 auto;
    margin-top:250px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#buy_btn{
    margin: 0 auto;
    width: 200px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
