@charset "utf-8";

@import '/resources/css/fonts/myriad/myriad.css';

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family:Helvetica, Verdana, Arial sans-serif;
	font-size: 14px;
	color: #555;
	min-width: 1240px;
}

a { color: blue; }
a:visited { color: #609; }
a.bang-ref { word-break: break-all; }

.bang_block { margin-top: 2px; }

h1, .h1, h2, .h2, h3, .h3 { margin-top: 0; }

li { list-style: none; }

b, strong { font-weight: 700; }

.btn-group a { color: #939393 !important; }
.btn-group a:hover { color: #666 !important; }

.no-border {
	border: none;
	box-shadow: none;
}

.no-padding { padding: 0; }

.no-back {
	border: none;
	background: none;
	box-shadow: none;
	outline: none;
}

.container-fluid { padding: 0 5px 0 8px !important; }

.right {
	float: right !important;
	margin-right: 0;
	margin-left: 10px;
}

.left {
	float: left !important;
	margin-left: 0;
	margin-right: 10px;
}

.middle {
	width: 59%;
	margin: 5% auto 1% auto
}

/* Wrappers */
.left_container {
	position: absolute;
	left: 5px;
	width: 170px;
}

.center_container { padding: 0; }

.right_container {
	width: 34%;
	max-width: 430px;
	padding: 0;
}

.left_container .col-sm-7,
#middle .col-sx-12 { padding-left: 0 !important; }

#header {
	margin-top: 11px;
	min-height: 76px;
}

#header .navbar { margin: 0; }

#tool-bar { vertical-align: top; }

#middle {
	margin-top: 20px;
	height: 100%;
	min-width: 1300px;
}

/* Logo */
#logo { width: 168px; }

img.logo {
	width: 145px;
	margin-left: 4px;
	margin-top: 4px;
}

#search-toolbar .btn-sm,
#search-toolbar .btn-group-sm > .btn {
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}

#search-toolbar .btn,
#search-toolbar .btn-sm:hover{
  border: none;
  background-color: transparent;
}

  /* Navbar */
.navbar-brand { padding: 0 0 0 15px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border: none !important; }

.dropdown-menu { font-size: 13px !important; }

.hdivider { width: 80%; }

#lnav-wrapper { padding-left: 15px; }

/* UL, LI */
#sideLeft > ul > li:first-child > a {
	display: block;
	margin-bottom: 3px;
	padding: 2px;
	width: 80%;
	font-weight: bolder;
}

#sideLeft > ul > li:nth-child(1n+2) > a span.glyphicon { color: #c7c7c7; }

.list-unstyled > li {
	/*margin-left: 8px;*/
	padding-bottom: 12px;
}
.list-unstyled > li a {
	padding: 0 25px 0 0;
	white-space: nowrap;
	color: #555;
	font-size: 13px;
	text-decoration: none;
}
/* Header */
#header .center_container { min-width: 270px; }

#header .navbar-collapse {
  float: right;
	padding-right: 0;
	margin-left: 25px;
  margin-top:10px
}

/* Search panel */
#search-form {
	position: relative;
	padding: 0;
	margin: 0;
	width: 505px;
}

#input-search {
	width: 100%;
	height: 38px;
	padding-right: 60px;
	font-size: 17px;
}

#btn-search {
	padding: 2px 10px;
	font-size: 18px;
	margin-top: -31px;
	color: #777;
}

#btn-search img {
	width: 20px;
	height: 20px;
}

.input-inside {
	position: absolute;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
	margin-top: -33px;
	right: 2px;
	top: 39px;
	z-index: 2;
}

/* TOP NAVIGATION */
#search-toolbar {
	float: right !important;
	max-width: 410px;
	margin-right: 0;
}

#search-toolbar .btn-group .btn{
  padding: 0;
  margin: 0 10px;
}

#search-toolbar li:last-child {}
#search-toolbar li { display: block; }
#search-toolbar li:first-child { display: none; }

/* -- Search subpanel -- */
#search-panel {
	float: left;
	width: 505px;
	position: relative;
}

#search-panel > ul {
	padding-top: 5px;
	margin-top: 37px;
}

#search-panel > ul .dropdown .dropdown-menu li {
	padding: 0 5px 0 5px;
	color: #297beb;
}

#search-panel > ul > li > a {
	background-color: transparent;
	padding: 2px 4px;
	font-size: 13px !important;
}
#search-panel > ul > li > a:hover { background-color: transparent; }
#search-panel > ul > li > a:visited { background-color: transparent; }
#search-panel > ul > li > a:active { background-color: transparent; }

/* --- Dropdown: more menu --- */
#moreMenu.dropdown {
	margin: 0 0 0 100%;
	position: absolute;
	left: auto;
	top: 0;
	right: auto;
	z-index: 9;
	bottom: auto;
	height: 38px;
	width: 57px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	padding: 0px 10px 0px 14px;
	border-left: none;
	border-top-right-radius: 6px;
	background: linear-gradient(#fff, #f5f5f5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);;
}

#moreMenu.dropdown > button#moreMenuButton {
	background: transparent;
	width: 58px;
	height: 38px;
	padding: 0px;
	border: none;
	margin-left: -14px;
	color: #555;
	border-top-right-radius: 6px;
	/* overflow: hidden; */
	border-bottom-right-radius: 6px;
	outline: none;
}

.icon-inert {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 18px;
	margin-bottom: 0;
}
#moreMenuButton:hover,
#moreMenuButton:active,
#moreMenuButton:focus{
	opacity:0.7;
}


#moreMenu.dropdown > button#moreMenuButton:hover > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:focus > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:active > i.icon-inert { background-position: -26px center; }

#moreMenu.dropdown > .dropdown-menu {
	width: 550px;
	margin: 10px 0 0;
	left: auto;
	right: auto;
	left: -244px !important;
}

#moreMenu.dropdown > .dropdown-menu > img.arrow {
	position: absolute;
	left: 255px;
	top: -13px;
	right: auto;
	bottom: auto;
}

#moreMenu.dropdown > .dropdown-menu > li > a {
	clear: none;
	float: left;
	width: 182px;
	padding: 4px 10px 4px 15px;
	color: #838383;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 3px;
}

#moreMenu.dropdown > .dropdown-menu > li > a > img {
	max-width: 16px;
	max-height: 16px;
	margin: 0 7px 0 0;
	position: relative;
	top: -2px;
}

#moreMenu.dropdown > .dropdown-menu > li > a:hover,
#moreMenu.dropdown > .dropdown-menu > li > a:focus,
#moreMenu.dropdown > .dropdown-menu > li > a:active { background: transparent; }


#moreMenu.dropdown > .dropdown-menu > li.divider {
	float: left;
	background-color: transparent;
	width: 100%;
	margin-top: 0;
}

#catalog,
#lnav-button { display: none; }
/* --- end. Dropdown: more menu --- */

#search-subpanel { display: none; }

#autosuggest { display: block; }

#autosuggest .autocomplete {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	top: 38px;
	font-size: 17px;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	z-index: 200;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#autosuggest .autocomplete li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
}

#autosuggest .autocomplete li:hover {
	cursor: pointer;
	color: #555;
	background-color: #a6c9e2;
}

#sub-expand ul li { float: left; }

#about a span { color: #444; }

/* Side Center */
#sideCenter section { margin-bottom: 50px; }
#sideCenter section p { margin-bottom: 0; }

#sideCenter section article h3 {
	font-size: 18px;
	margin-bottom: 0;
	max-height: 20px;
	overflow: hidden;
}

#sideCenter section article h3.artall a {
	font-size: 0.9em;
	margin-bottom: 0;
}

#sideCenter section article p { margin-bottom: 0; }
#sideCenter section article h3:first-child { margin-top: 0; }

.art-news-sublink {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;;
}

.art-news-link-decor {
	color: green;
	font-size: 16px;
}

.link-decor { color: green; }

#top-news article h3 a,
#top-news-2 article h3 a {
	font-size: 18px;
	margin-bottom: 0;
}

section .section {
	color: #444;
	margin-bottom: 20px;
	width: 100%;
	min-width: 500px;
	vertical-align: top;
}

section .section .secFooter { margin: 0; }
section .section .secFooterOffset { margin: 1% 0 0 0; }
section.section .float_img {
	width: 42px;
	height: 42px;
}

section.section span.float_img:hover { cursor: pointer; }

.btn_down_div {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #D6D6D6;
	box-shadow: 0 2px 4px #D6D6D6;
	color: #333333;
	padding: 10px 15px;
	position: absolute;
	width: auto;
	z-index: 100;
}

.btn_down_div span {
	font-size: 0.88em;
	color: #918F8F;
	white-space: nowrap;
}

div.btn_down_div:hover { cursor: pointer; }

article.artgrid {
	display: inline-block;
	margin: 1% 0 0 4%;
	text-align: left;
	vertical-align: top;
	width: 45%;
}

article.article {
	margin: 1% 0 0 4%;
	text-align: left;
	vertical-align: top;
}

article.artads {
	margin-bottom: 10px;
	background-color: #F7F7F7;
	border-radius: 3px 3px 3px 3px;
}

article.artads span.id {
	font-size: 12px;
	font-weight: bold;
}

article.artads span.url a {
	font-size: 12px;
	font-weight: bold;
	color: green;
}

article.artads span.date {
	font-size: 12px;
	font-weight: bold;
}

article span.am { display: none; }

article.artfirst {
	margin-bottom: 0;
	margin-top: 0;
}

article.artall { font-size: 1.2em; }

section.section span.float_img {
	background: url('/resources/img/ud_arrow.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 27px;
	margin-right: 0;
	width: 35px;
	z-index: 15;
}

section.section .float_img {
	height: 42px;
	width: 42px;
}

section .sec-footer-offset { margin-left: 1%; }

.art-sublink .delim { margin: 0 5px; }

/* Side Right */
#sideRightAds h3 {
	font-size: 1.2em;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0;
	height: 24px;
}

#videop > h3 { padding: 0 10px; text-align: center; }

.art-wiki { padding: 0 0 35px; }

#sideRightAds .panel-heading h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin: 8px 0;
  padding: 0;
}

#sideRightAds #ads-paginator { display: none; }

#sideRightAds #ads-paginator .paginator {
	margin-top: 0;
	margin-bottom: 10px;
}

#sideRightAds #ads-paginator .paginator ul li {
	width: 22px;
	height: 22px;
}

#sideRightAds #ads-paginator .paginator ul li.next,
#sideRightAds #ads-paginator .paginator ul li.prev { width: 36px; }
#sideRightAds #ads-paginator .paginator ul li a { font-size: 13px; }
#sideRightAds #ads-paginator .paginator ul li.current a { color: #555; }

/* WPANEL */
.art h3.art-news-title {
	height: 1.3em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: blue;
}

.art h3.art-news-title a {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wpanel h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0 0 5px 0;
}

.wpanel article h3 { margin: 0; }

.wpanel article h3 a { font-weight: normal; }

.wpanel .nav > li > a {
	padding: 3px 6px 3px 6px;
	font-size: 12px;
}

.wpanel .nav > li.active { font-weight: bolder; }
.wpanel .nav-pills { padding-top: 5px; }
.wpanel .nav-pills li { float: right; }

/* WIDGETS*/
/* Widgets Rules */
.widget {
	display: block;
	background: none repeat scroll 0 0 #FAFAFA;
	border-image: none;
	border: 1px solid #D5D5D5;
	border-top: 0;
	clear: both;
	margin: 20px auto 0 0;
	width: 260px;
}

.widget .head h5,
.table h5 {
	float: left;
	color: #878787;
	font-weight: normal;
	font-size: 16px;
	padding: 3px 15px 3px 40px;
	margin: 0;
}

.widget .head h5 .h5title {
	color: #0893ff;
	font-weight: bold;
}

.widget .num {
	display: inline-block;
	float: right;
	font-size: 10px;
	margin: 9px 9px 0 0;
	text-align: center;
}

/* Table Static Rules */
.widget table {
	border-collapse: collapse;
	font-family: Verdana, Helvetica sans-serif;
}

.widget table span { display: inline-block; }

.tableStatic {
	width: 100%;
	border-spacing: 0;
	padding: 0;
}

.tableStatic .thead .tr { width: 100%; }

.tableStatic thead tr td {
	background: url('/resources/img/widgets/leftNavBg.png') repeat-x scroll 0 0 #EFEFEF;
	border-bottom: 1px solid #D5D5D5;
	border-left: 1px solid #D5D5D5;
	color: #878787;
	font-size: 9px;
	padding: 5px;
	text-align: center;
	width: 28px;
}

.tableStatic thead td:first-child { border-left: medium none; }

.tableStatic tbody tr {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.tableStatic tbody tr:nth-child(2n) { background-color: #F5F5F5; }

.tableStatic tbody td {
	border-left: 1px solid #E7E7E7;
	padding: 4px 2px 4px 2px;
	vertical-align: middle;
}

.tableStatic tbody td:first-child { border-left: medium none; }

.webStatsLink {
	color: #B55D5C;
	font-size: 9px;
	font-weight: bold;
}

.statMinus {
	background: url('/resources/img/widgets/botArrow.png') no-repeat scroll 0 3px transparent;
	color: #B55D5C;
}

.statPlus,
.statMinus {
	font-size: 9px;
	padding-left: 10px;
}

/* Flot diagramm & chart rules */
.chart {
	position: relative;
	height: 140px;
	width: 260px;
}

.chart,
.autoUpdate,
.bars {
	margin: 5px;
	max-width: 100%;
	z-index: 90;
}

.tickLabels { font-size: 10px; }

.tickLabel {
	position: absolute;
	top: 10px;
	width: 22px;
	font-size: 10px;
	color: #878787;
	padding-right: 5px;
}

.xAxis .x1Axis { color: #545454; }

.block {
	border: 1px solid;
	color: #555;
	border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.6),
	0 2px 5px rgba(255, 255, 255, 0.5) inset,
	0 -2px 5px rgba(0, 0, 0, 0.1) inset;
}

/* Widgets styles */
#wotapi,
#competeapi,
#crunchapi {
	position: relative;
	float: left;
	margin: 0 0 10px 0;
}

#googleapi { height: auto; }

#googleapi article { margin-bottom: 10px; }
#googleapi article h3 {
	font-size: 1.0em !important;
	max-height: 1.0em !important;
	color: #003af6;
	margin-bottom: 0;
}
#googleapi article p { font-size: 0.90em; }
#googleapi article span.link a { color: green !important; }
/*Ширина инфо блока на карте*/
.mqabasicwnd {
	font: 14px arial, helvetica, sans-serif;
	width: 200px !important;
}

#infomap {
	height: auto;
	margin-bottom: 35px;
}

#infomap .form-group { margin-bottom: 8px; }

/* MAP & MAPBLOCK */
#mapblock1,
#mapblock2 {
	display: none;
	/*margin: 0 0 35px 0;*/
}
#adunit0{
	/*margin: 0 0 25px 0;*/
}

#mapblock1 {
	position: relative;
	max-height: 170px;
	height: 170px;
	padding: 0 10px;
}

#mapblock2 {
	position: relative;
	max-height: 220px;
	max-width: 100%;
}
/*#mapblock2 .images-list {width: 340px !important;}*/
#mapblock1 .images-map,
#mapblock2 .images-map {
	/*display: inline-block;
	position: relative;
	min-width: 50%;
	width: 100%;*/
}
#mapblock2 .images-map{
	margin-bottom: 35px;
	position: relative;
}

#mapblock1 .images-map {
	height: 162px;
	float: right;
}

#mapblock2 #owl-images{
	overflow: hidden;
	height: 97px;
}
#mapblock2 #owl-images img{
	width: 140px;
}
#owl-images img {
	width: 115px;
}

#mapblock2 .underlinedh3 { padding: 0 10px; text-align: center; }
#imageContainer{}

#mapblock1 .images-map .image-item {
	position: relative;
	float: left;
	background-color: #666;
}

#mapblock1 .images-map .badje {
	position: absolute;
	bottom: 9%;
	right: 10%;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	opacity: 0.95;
	z-index: 10;
	/* -webkit-text-stroke: 1px black; */
	/* color: white; */
	text-shadow: 1px 1px 0 #428bca, -1px -1px 0 #428bca, 1px -1px 0 #428bca, -1px 1px 0 #428bca, 1px 1px 0 #428bca;
}

#mapblock1 .images-map .image-item{
	float: left;
	width: 50%;
	text-align: center;
	display: inline-block;
}

#mapblock1 .images-map .image-item:nth-child(1n+1),
#mapblock2 .images-map .image-item:nth-child(1n+1) {
    /*padding-left: 0;
    padding-bottom: 4px;
    display: inline-block;*/
}
#mapblock2 .image-it{
	float: left;
}


#mapblock2 .images-map .image-item:nth-child(1),
#mapblock2 .images-map .image-item:nth-child(2) {
	/*height: 100px;
	padding-bottom: 4px;
	float: left;
	width: 111px;
	text-align: center;
	display: inline-block;*/
}

#mapblock2 .images-map .image-item > a {
	display: flex;
	height: 96px;
	margin: auto;
	align-items: center;
}

#mapblock1 .images-map .image-item a > img,
#mapblock2 .images-map .image-item a > img {
	display: block;
	max-width: 115px;
	max-height: 96px;
	margin: auto;
	min-height: 80px;
}

.images-map:hover { cursor: pointer; }

#map {
	display: inline-block;
	float: left;
	height: 162px;
	width: 50%;
	margin-bottom: 35px;
}

#vb-container .art { margin-bottom: 20px; }

/* Infoblock styles */
#infoblock > div { padding: 0 5px 0 0; }

#infoblock h3 {
	display: block;
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
	padding: 2px 2px 2px 0;
}

#infoblock .blogblock article h3 {
	background-color: #fff;
	margin: 0;
	padding: 0;
	border-radius: 0;
	font-size: 1.2em;
	font-weight: normal;
}

/* Frameblock styles */
#frameblock {
	display: none;
	position: relative;
}

#frameblock span.img_frame_oc {
	position: absolute;
	height: 56px;
	width: 32px;
	left: -13px;
	top: 50%;
	margin-top: -25px;
	z-index: 1110;
}

#spbtn_close {
	position: absolute;
	top: -32px;
	right: -1px;
	background: #fdfdfd url('/resources/img/btn_close.png') 50% 50% no-repeat;
	border: 1px solid;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	height: 31px;
	width: 38px;
	z-index: 900;
}

#spbtn_close:hover {
	cursor: pointer;
	background-color: #EFEFEF;
}

#frameblock span.spbtn_close button {
	position: absolute;
	top: 0;
	color: #6175ff;
	height: 38px;
	width: 32px;
	line-height: 38px;
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

#btf_close { color: #b55c62; }

#btf_oc { width: 32px; }

#if_get_html {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1000;
}

.frontlayer {
	position: absolute;
	top: 0;
	z-index: 1001;
}

.hline {
	border-top: 1px solid #C2C2C4;
	margin: 10px 0 10px 20px;
	width: 100px;
	height: 1px;
}

.hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE;
	border-style: solid none;
	border-width: 1px 0;
	margin: 10px 0 20px 0;
	width: 100%
}

.grvline {
	color: #C2C2C4;
	margin-left: 5px;
	margin-right: 5px;
}

.imagestyle { height: 100px; }

.noty {
	position: fixed;
	display: none;
	top: 100px;
	left: 800px;
	width: 400px;
	z-index: 2000;
}

.symi {
	width: 100%;
	height: 0;
}

.symad {
	position: absolute;
	top: -25px;
	right: 16px;
	color: #6c6c6c;
	font-size: 18px;
	z-index: 1000;
}

.symad:hover { cursor: pointer; }

.bangtable { width: 100%; }

.bangtable td { width: 1em; }

.region-list {
	margin: 0;
	padding: 0;
	column: 3;
	column-gap: 15px;
	-moz-column-count: 3;
	-moz-column-gap: 15px;
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	counter-reset: section;
	list-style: outside none none;
}

.region-list li .radio { margin-top: 0 !important; }

.selected {
	color: #555555;
	background-color: #a6c9e2;
}

.shm-block { text-align: right; }

.shm {
	display: inline-block;
	border: none;
	margin: 0 20px;
	color: blue;
}

.shm:hover { cursor: pointer; }

.star-img img {
	width: 16px;
	height: 16px;
}

/* Left Navigation */
.caret-up {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	border-bottom: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.caret-down {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#lnav-button { margin-left: 8px; }
#lnav-button .img { margin-right: 5px; }

#left-nav-01, #left-nav-02 { margin-bottom: 0; }
#left-nav-01 li .img, #left-nav-02 li .img { margin-right: 5px; }
#left-nav-02 {
	height: 162px;
	overflow: hidden;
}
#left-nav-02 li .img {
	margin-right: 9px !important;
}
.show_more {
	height: 100% !important;
	overflow: auto !important;
}
#left-nav-01 li .img img, #left-nav-02 li .img img {
	max-width: 14px;
	max-height: 14px;
}

#all-menu-item a {
	margin-left: 23px;
	padding: 0 25px 0 0;
	white-space: nowrap;
	color: #555;
	font-size: 13px;

}

#lnav-button:hover { cursor: pointer; }

#catalog {
	display: none;
	margin-top: 8px;
}
.hide_menu {
	margin-left: 29px;
	cursor: pointer;
	/* font-weight: 500; */
	color: blue;
	text-decoration: underline;
	/* font-size: 15px; */
}
#catalog li {
	line-height: 20px;
	position: relative;
	margin-left: 0;
}

#catalog .img { margin-right: 5px; }
#catalog .badge {
	position: absolute;
	top: -2px;
	margin-left: 2px;
	border-radius: 2px;
	padding: 1px 2px;
	font-size: 11px;
	line-height: 9px;
	color: #428bca;
	background-color: #fff;
}

/* Top Toolbar */
#top-nav {
	max-width: 410px;
	float: right;
}

nav.paginator {
	margin-top: 40px;
	margin-bottom: 40px;
}

#similar-search {
	margin-bottom: 20px;
	overflow: hidden;
}

#similar-search h3 {
	font-size: 16px;
	font-weight: 500;
}

#similar-search ul.columns {
	margin: 0 1% 0 0;
	padding: 0;
	width: 49%;
	display: block;
	float: left;
}

#similar-search ul li {
	height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 505px;
}

#similar-search ul li a { font-size: 16px; }

#similar-search ul.toghether {
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* ALSO ON */
#lwc {
	margin: 0;
	column-count: 3;
	column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	padding: 0 10px;
}

#lwc li {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	/*padding-bottom: 5px;*/
}

#lwc li div {
	margin-bottom: 5px;
	max-height: 20px;
	overflow: hidden;
}

#lwc li div.bang-title {
	font-weight: 500;
	font-size: 16px;
}

#lwc .bang-img { margin-right: 8px; }

#lwc .bang-img img {
	width: 20px;
	height: 20px;
}

.symi-content { max-width: 386px !important; }

.ashm-wrapper { text-align: right; }

.ashm { color: blue; }

.ashm:hover { cursor: pointer; }

#oldfav {
	margin: 0;
	padding: 0;
	text-align: left;
}

#oldfav > ul {
	margin: 0;
	padding: 0;
}

#oldfav li {
	list-style-type: none;
	margin-right: 10px;
}

#oldfav li ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#oldfav > li {
	position: relative;
	float: left;
	width: 130px;
	margin-bottom: 10px;
}

#oldfav > li:nth-child(3n+1) { clear: both; }
#oldfav > li > ul > li:first-child { font-weight: bold; }
#oldfav > li > ul > li span { margin-right: 5px; }

.bangtable td { vertical-align: top; }
.bangtable td img { float: left; }
.bangtable td div { margin-bottom: 5px; }
.bangtable .also-title {
	display: block;
	font-weight: bold;
	margin: 5px 0 5px 0;
}

/* Paginator */
.paginator {
	margin: 0 auto;
	text-align: center;
}

.paginator ul {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.paginator ul li {
	position: relative;
	float: left;
	text-align: center;
	font-size: 16px;
	list-style: none;
	width: 30px;
	height: 28px;
}

.paginator ul li a { font-size: 18px; }

.paginator ul li.first {
	width: 32px;
	margin-right: 10px;
	font-weight: bolder;
}

.paginator ul li.prev {
	width: 42px;
	margin-right: 10px;
	font-weight: bolder;
}

.paginator ul li.next {
	width: 42px;
	margin-left: 10px;
	font-weight: 500;
}

.paginator ul li.last {
	width: 32px;
	margin-left: 5px;
	font-weight: bolder;
}

.paginator ul li.inactive {
	font-weight: bolder;
	color: #999;
}

.nextinactive,
.lastinactive,
.firstinactive,
.previnactive { display: none; }

.statistic {
	margin: 0 auto;
	font-size: 1.1em;
	text-align: center;
}

.statistic span { margin: 0 5px 0 5px; }

.statistic span img.dr {
	width: 20px;
	vertical-align: bottom;
}

/* UI */
/* Styling tooltip */
.ui-tooltip {
	padding: 5px 10px;
	color: #000000;
	border-radius: 5px;
	font: normal 11px Verdana, 'Helvetica Neue', Sans-Serif;
	box-shadow: 0 0 5px #a6c9e2;
	text-align: justify;
}

.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.ui-tooltip .arrow.top {
	top: -16px;
	bottom: auto;
}

.ui-tooltip .arrow.left { left: 20%; }

.ui-tooltip .arrow:after {
	content: '';
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px #a6c9e2;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ui-tooltip .arrow.top:after {
	bottom: -20px;
	top: auto;
}

.ui-tooltip.right {
	max-width: none;
	width: 400px;
}

.ui-tooltip .arrow.left-arrow {
	margin-left: -16px;
	height: 24px;
	left: 0;
	margin-top: -12px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 16px;
}

.ui-tooltip .arrow.left-arrow::after {
	box-shadow: 6px 5px 9px -9px #a6c9e2;
	content: '';
	height: 25px;
	left: 10px;
	position: absolute;
	transform: rotate(45deg);
	width: 25px;
	top: -2px;
}

/* ui slider */
.slider-wrapper {
	height: 38px;
	padding-left: 25px;
}

.ui-slider-horizontal {
	height: 0;
	border: none;
}

.ui-slider-ruler {
	height: 1px;
	position: absolute;
	background-color: #CCC;
	z-index: 1;
	width: 100%;
	top: 4px;
}

.ui-slider-marker {
	position: absolute;
	top: -1px;
	height: 12px;
	width: 1px;
	background-color: #ccc;
}

.ui-slider-marker .ui-slider-digit {
	position: absolute;
	top: 15px;
	right: -10px;
	font-size: 0.8em;
}

.ui-slider-marker:last-child > span { right: -3px; }

.ui-slider .ui-state-hover {
	border: 1px solid #777;
	background-color: #ddd;
}

.ui-slider .ui-state-focus {
	border: 1px solid #cccccc;
	background: #f6f6f6
}

/* Canjs Slider */
#slider-wrapper {
	height: 34px;
	width: 90%;
}

#slider {
	position: relative;
	width: 100%;
	height: 22px;
	z-index: 0;
}

.slider-horizontal {
	height: 0;
	border: none;
}

.slider-handle {
	cursor: pointer;
	width: 16px;
	height: 16px;
	z-index: 5;
}

.slider-ruler {
	position: absolute;
	background-color: #CCC;
	height: 1px;
	width: 100%;
	bottom: 50%;
	z-index: -1;
}

.slider-marker {
	position: absolute;
	top: -5px;
	height: 10px;
	width: 1px;
	background-color: #ccc;
}

.slider-marker .slider-digit {
	position: absolute;
	top: 15px;
	right: -10px;
	font-size: 0.8em;
	font-weight: bold;
	color: #777;
}

.slider-marker:last-child .slider-digit { right: -3px; }

.slider .state-hover {
	border: 1px solid #777;
	background-color: #ddd;
}

.slider .state-focus {
	border: 1px solid #cccccc;
	background: #f6f6f6
}

/* Bootsrtap Tooltip */
.tooltip > .tooltip-inner {
	background-color: #F7F7F7;
	padding: 5px 10px;
	color: #777;
	border-radius: 5px;
	border: 2px solid #a6c9e2;
	font: normal 12px Verdana, 'Helvetica Neue', Sans-Serif;
	box-shadow: 0 0 3px #a6c9e2;
	text-align: justify;
	max-width: 360px !important;
	width: auto;
}

.tooltip.top > .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a6c9e2
}

.tooltip.left > .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #a6c9e2;
}

.tooltip.bottom > .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #a6c9e2;
}

.tooltip.right > .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #a6c9e2;
}

/* PANEL*/
.panel { border-radius: 0; }
.panel .panel-heading {
	line-height: 30px;
	height: 30px;
	padding: 0;
}

.panel .panel-heading h1, h2, h3, h4, h5 { color: #777; }
.panel .panel-heading h3.title {
	display: inline-block;
	font-size: 1.4em !important;
}

.panel .panel-heading .simg {
	float: left;
	margin: 0 10px 0 20px;
	line-height: 30px;
	font-size: 18px;
	color: #bbb;
}

.panel .izwidget {
	color: #999;
	font-size: 13px;
}

.panel .izwidget label {
	font-weight: normal !important;
	padding-top: 0;
	text-align: left;
}

.panel .izwidget label.btn { padding-top: 2px !important; }

.panel .izwidget label.active {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

/* Bootsrtap Popover */
.pop-art {
	max-width: 420px !important;
	width: auto;
}

.pop-art .popover-title {
	background-color: transparent;
	border-bottom: none;
	color: #777;
	font-size: 12px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.pop-art .popover-content {
	margin: 0;
	padding: 0;
	width: auto;
}

.pop-art .popover-content .title { margin: 0 5px 10px 5px; }

/* Bootsrtap Popover */
.popup {
	max-width: 360px !important;
	max-height: 432px !important;
	width: auto;
}

.popup .popover-title {
	background-color: transparent;
	border-bottom: none;
	color: #777;
	font-size: 12px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.popup .popover-content {
	margin: 0;
	padding: 0;
	width: auto;
}

.popup .popover-content .title { margin: 0 5px 10px 5px; }

.popup:hover{
	cursor: pointer;
}

#popover-title {
	max-height: 20px;
	min-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#popover-descr {
	overflow: hidden;
	max-height: 62px;
	text-align: justify;
}

.pop-search-subnav { width: 200px !important; }

.noty_content { overflow: hidden; }

.noty_content img {
	width: 100%;
	height: 346px;
}

#rsads-wrapper .popover {
	border: none;
	box-shadow: none;
	top: 0 !important;
	left: 0 !important;
}

#rsads-wrapper .popover.bottom { margin-top: 0; }
#rsads-wrapper .popover-content {
	margin: 0;
	padding: 0;
    min-width: 350px;
}

.search .popover-content { padding: 5px 0 5px 0 }

.search .popover-content form {
	margin: 5px 10px 5px 10px;
	width: 340px;
}

.search .popover-content ul {
	margin: 0;
	padding: 0;
}

.search .popover-content ul li {
	display: list-item;
	text-align: left;
	list-style: outside none none;
}

/* Top navigation panel */
.pop-nav .popover { max-width: 460px; }
.pop-nav .popover-content { padding: 5px 0 5px 0 }
.pop-nav .popover-content form {
	margin: 5px 10px 5px 10px;
	width: 340px;
}
.pop-nav .popover-content ul {
	margin: 0;
	padding: 0;
}

.pop-nav .popover-content ul li {
	display: list-item;
	text-align: left;
	list-style: outside none none;
}

.popover-content ul li {
	display: list-item;
	text-align: left;
	list-style: outside none none;
}

.popover-content ul li a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #939393 !important;
	white-space: nowrap;
}

.popover-content ul li a:hover {
	text-decoration: none;
	background-color: #F5F5F5;
}

#period-form { width: 200px; }

/* ADVANCED FORM */

#advanced-form .form-group { margin: 0 0 10px 0; }
#advanced-form .form-group label {
	text-align: left;
	color: #939393;
	padding: 0;
	margin-top: 8px;
	font-size: 12px;
}
#advanced-form .form-group input { height: 28px; }
#advanced-form #advexample { font-size: 0.9em; }
#advanced-form input { font-size: 14px; }
#advanced-form hr { border-top: 1px solid #aaa; }
#advanced-form #cbx-sw {
	float: left;
	width: 50%;
}

.form-group .title {
	font-size: 1em;
	color: #777
}

.hashed { background: #D5D5D5; }

/* Search Subpanel Menu */
.mainmenu {
	position: absolute;
	margin: 2px 0 0;
}

.mainmenu,
.submenu {
	display: none;
	float: left;
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	font-size: 13px;
	list-style: outside none none;
	text-align: left;
	padding: 5px 10px;
	min-width: 160px;
	z-index: 1000;
}

.mainmenu > li {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.mainmenu > li > a,
.submenu > li > a {
	clear: both;
	display: block;
	padding: 3px 20px 3px 10px;
	color: #444 !important;
	font-weight: normal;
	line-height: 1.42857;
	white-space: nowrap;
}

.submenu {
	position: absolute;
	top: 0;
	left: 107%;
	margin-top: -1px;
}

.right-caret:after { border-left: 4px solid #444; }

.right-caret:after,
.left-caret:after {
	content: '';
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
	margin-left: 5px;
}

#anytime { float: left; }

#anytime a {
	color: #444;
	text-align: left;
	display: inline-block;
}

.mainmenu li span.glyphicon { min-width: 13px; }

#about {
	position: absolute;
	text-align: center;
	width: 60%;
	margin: 0 20%;
	left: 0;
}

#about a { text-align: center; }
#sort { float: right; }
#sort a {
	text-align: right;
	color: #444;
}

/* Fave List*/
.faves-list {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

.faves-list li {
	float: left;
	list-style: none;
	position: relative;
}

#owl-amazon.faves-list li {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.faves-list li:nth-child(1n+1) {
	margin-right: 20px;
	margin-bottom: 20px;
}

#faves-wrapper .faves .faves-list li a img {
	max-height: 40px;
	max-width: 102px;
	margin-top: 4px;
	padding: 0;
	position: relative;
}

.video-faves-list {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.video-faves-list .video-item a img {
	display: block;
	width: 128px;
	height: 96px;
	padding: 4px;
	margin: auto;
}

.video-faves-list li {
	display: inline-block;
	vertical-align: top;
}

.video-faves-list .video-item {
	border: none !important;
	padding: 0 1px 0 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.video-faves-list .video-item .title { text-align: center; }

.video-faves-list .video-item .title .caption {
	max-height: 62px;
	padding: 0 10px;
	overflow: hidden;
}

.video-faves-list .video-item .title .caption > a {
	display: block;
	max-width: 120px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.video-faves-list .video-item .title .link {
	height: 18px;
	overflow: hidden;
}

.video-faves-list .video-item:last-child { padding-right: 0; }

#rsads-container .owl-item,
#image-carousel .owl-item {
	margin: 0;
	text-align: center;
}

#video-carousel,
#image-carousel {
	margin: 0;
	padding: 0;
}

#video-carousel .owl-wrapper-outer,
#image-carousel .owl-wrapper-outer { height: 50px; }

#video-carousel .owl-wrapper,
#image-carousel .owl-wrapper {
	margin-top: 2px;
	position: relative;
}

#video-carousel .owl-item,
#image-carousel .owl-item { margin: 0; }

#video-carousel .owl-item li,
#image-carousel .owl-item li {
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 5px #9c9c9c;
	-moz-box-shadow: 0 1px 5px #9c9c9c;
	box-shadow: 0 1px 5px #9c9c9c;
	color: #a3a3a3;
	background: #fafafa;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	width: 121px;
	height: 46px;
}

#video-carousel .owl-item li a img,
#image-carousel .owl-item li a img {
	position: relative;
	height: 100%;
	padding: 0;
	max-height: 40px;
	max-width: 102px;
}

.owl-prev {
	position: absolute;
	left: -12px;
}

.owl-next {
	position: absolute;
	right: -20px;
}

.faves-list.other {
	margin-bottom: 0 !important;
}

.faves-list h3 {
	margin-bottom: 5px !important;
	padding: 0;
	font-size: 18px;
}

/* FAVES */
.faves ul {
	padding: 0;
	width: 100%;
}

.faves ul.nav {
	margin-top: 0 !important;
	margin-bottom: 20px;
}

#faves-tabs .nav-tabs li a {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.faves ul li {
	display: inline-block;
	position: relative;
	float: left;
	list-style: none;
	padding: 4px;
}

.faves .blogblock {
	position: relative;
	width: 105%;
}

.faves .blogblock .symad {
	top: 10px;
	right: 25px;
}

#favesblock { width: 105%; }
#favesblock .faves { margin-bottom: 25px; }
#favesblock .faves .faves-block { margin-bottom: 25px; }
#favesblock .faves-list { margin-bottom: 25px; }
#favesblock .faves-list .shm {
	float: right;
	border: none;
	margin: 0 25px;
	color: blue;
}

#favesblock .faves-list .shm:hover { cursor: pointer; }
#favesblock .faves-list { margin-bottom: 0; }
#tabs .tab-content { width: 105%; }

.grob {
	height: 0;
	width: 0;
	/* IE 8 */
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0.0;
	/* Safari 1.x */
	-khtml-opacity: 0.0;
	/* Good browsers */
	opacity: 0.0;
	font-size: 1px;
}

/* Menu under the input search */
#filter-panel { position: relative; }

#btn-sort-by-lang:hover,
#btnSortByDate:hover,
#btnExpand:hover { cursor: pointer; }

#lang-sort {
	position: absolute;
	text-align: center;
	width: 60%;
	margin: 0 20%;
	left: 0;
}

#date-sort { float: right; }

#lang-popover-wrapper .simg {
	float: left;
	margin: 0 0 0 13px;
	line-height: 30px;
	font-size: 15px;
	color: #bbb;
}

#lang-popover-wrapper h3 {
	font-size: 16px;
	min-width: 245px;
	line-height: 30px;
}

#lang-popover-wrapper ul { padding: 0; }
#lang-popover-wrapper .form-group {
	float: left;
	width: 50%;
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.disabled > span { color: #969696; }

/* And menu under the input search */
.bugfix-title { padding-top: 4px; }

.truncate_more_link {
  cursor: pointer;
  float: right;
}

/*
.infoMap {
  padding: 1px 8px;
  padding-bottom: 6px;
  padding-top: 9px;
  margin: 0px 0px 40px 10px;
  border: 1px solid #bbb7b7;
  width: 100%;
  -webkit-box-shadow: 10px 11px 10px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 10px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 10px -10px rgba(0,0,0,0.75);
}
*/
.infoMap {
	padding-top: 9px;
	margin: 0 0 40px 10px;
	width: 100%;
	font-size: 14px;
}
.bolding { font-size: 18px; }


#btn-top-advs{
  background-image:  url("/resources/img/nav/flag_gray.png");
}

#btn-top-advs:hover{
  background-image:  url("/resources/img/nav/flag_blue.png");
}

#btn-top-google{
  background-image:  url("/resources/img/nav/eye_gray.png");
}

#btn-top-google:hover{
  background-image:  url("/resources/img/nav/eye_blue.png");
}

#btn-top-bugreport{
  background-image:  url("/resources/img/nav/letter_gray.png");
}
#btn-top-bugreport:hover{
  background-image:  url("/resources/img/nav/letter_blue.png");
}

#btn-top-redmine{
  background-image:  url("/resources/img/nav/list_gray.png");
}

#btn-top-redmine:hover{
  background-image:  url("/resources/img/nav/list_blue.png");
}

#btn-top-tools{
  background-image:  url("/resources/img/nav/col_gray.png");
}
#btn-top-tools:hover{
  background-image:  url("/resources/img/nav/col_blue.png");
}


.btn-nav-img{
  width: 24px;
  height: 21px;
}


.popup{
	width: 900px;
	margin: auto;
	text-align: center
}
.popup img{
	width: 200px;
	height: 200px;
	cursor: pointer
}
.show{
	z-index: 999;
	display: none;
}
.show .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.66);
	position: absolute;
	top: 0;
	left: 0;
}
.show .img-show{
	width: 600px;
	height: 400px;
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden
}
.img-show span{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 99;
	cursor: pointer;
}
.img-show img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.adv_ico{
	float: right;
	margin-top: -4px;
	font-size: 18px;
	color: #555 !important;
}
.adv_ico:hover{text-decoration:none;}
.adv_ico img{
	padding-bottom: 6px;
	padding-right: 5px;
}
/*End style*/

#amazon-popup-carousel{
	position: relative;
	height: 500px;
	min-height: 200px;
	max-height: 500px;
	max-width: 500px;
}

#amazon-popup-carousel .carousel-controls {
	position: absolute;
	top: 50%;
	width: 100%;
}

#amazon-popup-carousel .carousel-control{
    font-size: 26px;
    background: #fff none;
	width: 30px;
	opacity: 1;
}

#amazon-popup-carousel .carousel-control .fa{
	position: relative;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.66);
	width: 30px;
	height: 30px;
	border-radius: 4px;
	top: 50%;
	opacity: 1;
	background-color: white;
}

#amazon-popup-carousel .carousel-inner {
	text-align: center;
	height: 100%;
}

#amazon-popup-carousel .carousel-control:hover{
	color: #a6c9e2;
}

#amazon-popup-carousel .ads-img-block{
	overflow: hidden;
	position: relative;
	padding-bottom: 100px;
}

#amazon-popup-carousel .ads-img-block a{
	display: block;
	height: 100%;
}

#amazon-popup-carousel .carousel-inner .item{
	height: 100%;
}

#amazon-popup-carousel  .ads-price-block{
	position: relative;
	margin: 5px 0 0 0;
	color: #eee;
	font-weight: bold;
	font-size: 16px;
}
#amazon-popup-carousel  .ads-brand{
	position: relative;
}

#amazon-popup-carousel .ads-title-block a {
	color: #ccc;
}
#amazon-popup-carousel .ads-title-block {
	position: relative;
	width: 80%;
	margin: 5px auto;
	overflow: hidden;
	max-height: 40px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#amazon-popup-carousel .info-block{
	position: absolute;
	width: 100%;
	background-color: #444;
	opacity: 0.8;
	text-align: center;
	height: 100px;
	bottom: 0;
}

#amazon-popup-carousel .ads-img-block img{
	height: 100%;
}

#amazon-popup-carousel #carousel-index{
    width: 180px;
    height: 29px;
    border: 1px solid #a6c9e2;
    position: absolute;
    margin-left: -90px;
    top: 0;
    left: 50%;
    border-radius: 6px;
    padding: 3px;
    text-align: center;
}
.moreMenu_title {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 5px;
	color: #777;
}
span.sideLeft_title {
	display: block;
	color: #428bca;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 3px;
	margin: 0 20px 10px 10px;
	/* padding-right: 20px; */
	border-bottom: 1px solid #c7c6c6;
}
footer{
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	margin: 0;
	padding: 0;
	margin-bottom: -11px;
}
footer .nav{
	display: inline-flex;
	margin-left: 170px;
}
footer .nav > li {top: -5px;}
footer .nav > li a{
	color: #777;
	font-size: 16px;
}
footer .nav > li a:hover{color:#555}
#video-menu-item {
	display: none;
}