@charset "utf-8";

@import "/resources/font-awesome-4.3.0/css/font-awesome.min.css";

body {
  font-family: Helvetica, Verdana, Arial sans-serif;
  font-size: 10pt;
  color: #555;
}

p, ul, ol { line-height: 12pt; }

.panel .panel-heading h1, h2, h3, h4, h5 { color: #777; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  page-break-after: avoid;
}

li { list-style: none; }

ul, img { page-break-inside: avoid; }

h1{font-size:1.4em;}
h2{font-size:1.3em;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:1em;}

a{
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

#middle {
  margin-top: 0;
  height: 100%;
}

.no-back {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#header {
  margin-bottom: 40px;
}

#header .navbar-collapse {
  padding-right: 0;
  width: 505px;
  float: left;
  margin-left: 25px;
}

#header, #wrapper, .column-home,
.column-wide, .column-narrow, #footer {
  float:none;
  width:auto;
}

#logo {
  display: inline-block;
  float: left;
  width: 165px;
}

#search-panel {
  position: relative;
  display: inline-block;
  width: 505px;
  float: left;
}

#search-toolbar {
  max-width: 410px;
  float: right;
  margin-right: 0;
}

#search-toolbar li:first-child {
  display: none;
}

#search-toolbar li {
  display: block;
}

#input-search {
  width: 100%;
  height: 28px;
  padding-right: 60px;
  font-size: 17px;
}

#btn-search {
  padding: 2px 10px;
  font-size: 16px;
}

#btn-search img {
  width: 20px;
  height: 20px;
}

.input-inside {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  right: -65px;
  top: 8px;
  z-index: 2;
}

#search-form {
  position: relative;
  padding: 0;
  margin: 0;
  width: 505px;
}

#sideRightAds #rsads-container {
  width: 100%;
}

#sideRightAds h3 {
  font-size: 1.2em;
  height: 1.4em;
  overflow: hidden;
  margin-bottom: 10px;
}

.underlinedh3 {
  color: blue;
  font-weight: normal;
  text-decoration: underline;
}

#mapblock1, #mapblock2 {
  display: none;
  margin: 0 0 30px 0;
}

#mapblock1 .images-map,
#mapblock2 .images-map {
  display: inline-block;
  min-width: 50%;
  min-height: 80px;
  width: 100%;
}

#mapblock2{
  display: none;
  margin:0;
  height: 0;
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#all-menu-item a { margin-left: 28px; }

#mapblock1 .images-map .images-list {
  max-height: 162px;
  overflow: hidden;
}

#mapblock1 .images-map .images-list li:nth-child(1), #mapblock1 .images-map .images-list li:nth-child(2) {
  padding-bottom: 4px;
}

#mapblock1 .images-map .images-list li:nth-child(1n+1), #mapblock2 .images-map .images-list li:nth-child(1n+1) {
  padding-left: 0;
}

#mapblock1 .images-map .images-list li, #mapblock2 .images-map .images-list li {
  position: relative;
  float: left;
}

#mapblock1 .images-map .images-list, #mapblock2 .images-map .images-list {
  display: inline-block;
  list-style: none;
  padding: 0;
}

#infomap .faves{
  display: none;
  margin:0;
  height: 0;
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#map {
  display: inline-block;
  float: left;
  height: 162px;
  width: 50%;
}

#wiki-info {
  display: none;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#filter-panel{
  display: none;
}

#nvb-01{
  display: none;
}

#catalog li, #left-nav-01 li{
  line-height: 20px;
  position: relative;
  margin-top:0;
}

#catalog .badge {
  position: absolute;
  top: -2px;
  margin-left: 2px;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 11px;
  line-height: 9px;
  color: #428bca;
  background-color: #fff;
}

#left-nav-01{
  margin-bottom: 0;
}
#left-nav-01 li .img, #catalog li .img, #lnav-button .img {
  margin-right: 5px;
}

#lnav-button, #catalog{
  margin: 0;
}

.left_container {
  width: 170px;
  float: left;
}

.right_container {
  width: 505px;
  float: left;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li, #lnav-button {
  margin-left: 8px;
  padding-bottom: 5px;
}


#top-news article h3 a, #top-news-2 article h3 a {
  font-size: 18px;
  margin-bottom: 0;
}

#mapblock1 .images-map .images-list li a > img,
#mapblock2 .images-map .images-list li a > img {
  height: 96px;
  width: 136px;
}

.wpanel article h3 a {
  font-weight: normal;
}

#bangs-wrapper{}

/*.also_on-block {
  display: none;
  margin:0;
  height: 0;
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}*/

#lwc {
  margin: 0 0 30px;
  padding: 0;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -ms-column-count: 3;
  -ms-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#lwc li {
  display: inline-table;
  overflow-x: hidden;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding-bottom: 5px;
}

#lwc li div.bang-title {
  font-weight: 500;
  font-size: 16px;
}

#lwc li div {
  margin-bottom: 5px;
  overflow: hidden;
}

#lwc .bang-img {
  margin-right: 8px;
}

#lwc .bang-img img {
  width: 20px;
  height: 20px;
}

#lwc li:first-child{
  margin-right: 20px;
}
#lwc li:last-child{
  margin-left: 20px;
}

#similar-search {
  page-break-before: always;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  clear: both;
}

#similar-search h3 {
  font-size: 16px;
  font-weight: 500;
}

#similar-search ul.columns {
  margin: 0 1% 0 0;
  padding: 0;
  width: 49%;
  display: block;
  float: left;
}

#similar-search ul li {
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 505px;
}

#videop {
  margin-bottom: 0;
}

.video-faves-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

#video-bing-block {
  margin: 0 0 25px 0;
}

#video-text-block, #video-bing-block, #video-faves-block {
  display: none;
}

#video-faves-block{
  height: 0;
  width: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
}

.video-faves-list .video-item:last-child {
  padding-right: 0;
}

.video-faves-list .video-item {
  border: none;
  padding: 0 1px 0 0;
  margin-right: 0;
  margin-bottom: 0;
}

.video-faves-list li {
  display: inline-block;
  vertical-align: top;
}

.video-faves-list .video-item a img {
  display: block;
  width: 136px;
  height: 96px;
  padding: 4px;
}

.video-faves-list .video-item .title {
  text-align: center;
  padding: 0 10px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.wpanel .nav > li.active {
  font-weight: bolder;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.star-img img {
  width: 16px;
  height: 16px;
}

nav.paginator {
  margin-top: 40px;
  margin-bottom: 40px;
}

#faves-wrapper .faves{
  display: none;
}

.ads-block ul {
  padding: 0;
  min-height: 52px;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.faves-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.paginator {
  margin: 0 auto;
  text-align: center;
}

.paginator ul {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.paginator ul li {
  position: relative;
  float: left;
  text-align: center;
  font-size: 16px;
  list-style: none;
  width: 28px;
  height: 28px;
}

.symi {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}
.symad {
  position: absolute;
  top: 0;
  right: 16px;
  color: #6c6c6c;
  font-size: 18px;
  z-index: 1000;
}

.grob{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
  width: 1px;
  height: 1px;
}


#sideRightAds{
  position: relative;
  float: left;
  width: 420px;
  max-width: 420px;
  margin-left: 120px;
}

#amazon-wrapper, #bangs-wrapper, #faves-wrapper{
  display: none;
  margin: 0;

}

#sideRightAds .faves-list li:nth-child(1n+1) {
  margin-right: 0;

}

#sideRightAds .ads-block .faves-list li{
  padding: 4px;
  width: 136px;
  height: 186px;
  border: none;
}


#sideRightAds .faves-list li {
  width: 126px;
  height: 46px;
  text-align: center;
}

#sideRightAds .ads-block .faves-list li .ads-img-block{
  text-align: center;
  width: initial;
  height: 86px;
  margin: 5px 0 5px 0;
}

#sideRightAds .ads-block .faves-list li .ads-price-block{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

#sideRightAds .ads-block .faves-list li .ads-img-block a img{
  width: inherit;
  height: 100%;
  max-width: 128px;
  max-height: 76px;
}

#sideRightAds .ads-block .faves-list li .ads-title-block{
  font-size: 14px;
  text-align: center;
}

#sideRightAds .ads-block .ads-infot-title{
  text-align: right;
  margin: 0 3px 0 3px;
}

#sideRightAds .ads-block .sp-info-img img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#sideRightAds .ads-block .faves-list li {
  padding: 4px;
  width: 146px;
  border: none;
}

#sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+2) {
  margin-left: 20px;
  margin-right: 0;
}

#sideRightAds .tab-content .tab-pane .faves-list .left_extreme{
  margin-left: 0 !important;
}

#sideRightAds .tab-content .tab-pane .faves-list .ordinary{
  margin-left: 12px;
  margin-right: 0;
}

#sideRightAds .tab-content .tab-pane .faves-list li{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#sideRightAds #rsads-container{
  width: 100%;
  height: 100%;
}


#rsads-container .owl-next{
  display: none;
}

.also_on-block {
  position: relative;
  margin: 0 0 25px 0;
}

.tab-pane {
  margin-top: 7px;
  margin-bottom: -12px;
}

.art{
  margin-bottom: 30px;
}

.art h3.art-news-title {
  text-overflow: ellipsis;
  width: 100%;
}

#sideRightAds h3.art-news-title {
  text-overflow: ellipsis;
  color: blue;
  margin: 0;
}

.art .art-news-date {
  color: #666666;
}

.art .art-news-link-decor {
  color: green;
}

.art .art-news-descr {
  margin: 0;
}



/* WIKI BLOCK */
#wiki-info {
  display: none;
  margin-bottom: 10px;
}

#wiki-info .art-wiki p {
  display: initial;
  margin: 5px 0 5px 0;
  height: 70px;
}

#wiki-info .subtitle {
  margin: 0;
  padding: 0;
  height: 16px;
  overflow: hidden;
}

#wiki-info .subtitle li {
  display: inline-block;
  position: relative;
  float: left;
}

#wiki-info .subtitle li .sep {
  margin: 0 3px;
}

#wiki-info .sm {
  color: blue;
}

#wiki-info .sm:hover {
  cursor: pointer;
}

/* RSS TEXT */

#rss-block{
  height: auto;
  margin-bottom: 40px;
}
#rss-block h3{
  font-size: 18px;
  margin: 0;
}

#rss-block .art{
  min-height: 90px;
}

#rss-block .art-title{
  font-size: 18px;
  color: blue;
  margin-bottom: 0;
  max-height: 44px;
  overflow: hidden;
  line-height: 22px;
  font-weight: normal;
}

#rss-block .art .img {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
  height: 90px;
  width: 125px;
}
#rss-block .art .img > img {
  height: 100%;
  width: 100%;
}

#rss-block section .art-descr {
  max-height: 33px;
  min-height: 33px;
  overflow: hidden;
}

#rss-block .art .pub-link {
  color: green;
}

/* NEWS BLOCK */
#top-news {
  margin-bottom: 30px;
}

#news-block, #blogs-block {
  margin-bottom: 30px;
}


#news-block .art h3 a,
#blogs-block .art h3 a{
  font-size: 18px;
}

#news-block .img-litera, #blogs-block .img-litera {
  float: left;
  margin-right: 10px;
}

#news-block article:first-of-type {}

#news-block .img-litera img, #blogs-block .img-litera img {
  max-width: 100px;
  max-height: 100px;
  width: 81px;
  height: 46px;
}

#news-block .art, #blogs-block .art{
  margin-bottom: 5px;
}

#news-block .art .art-news-descr, #blogs-block .art .art-news-descr {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* BLOG BLOCK*/
.blogblock {
  position: relative;
  margin-bottom: 40px;
}

.blogblock .symad {
  right: 25px;
}

#blogs-block {
  margin-bottom: 0;
}


#gads{
  margin-bottom: 30px;
}
.delim{
  color: #CCCCCC;
  margin: 0 3px 0 3px
}

.underlinedh3{
  color: blue;
  font-weight: normal;
  text-decoration: underline;
}

.underlinedh3 a{
  font-weight: normal;
  font-size: 20px;
}

#text-ads{
  display: none;
}


@media print {
  @page {
    size: 297mm 210mm;
    margin: 10mm;
  }
  #wrapper{
    width: 1280px;
  }
}
