@import '/resources/font-awesome-4.3.0/css/font-awesome.min.css';

#amazon {
    font-family: Helvetica, Verdana, Arial sans-serif;
    position: relative;
    display: none;
    max-height: 138px;
    width: 100%;
    margin: 30px auto;
}

#amazon .izslik {
    position: relative;
    height: 100%;
    width: 100%;
}


#amazon .slick-track {
    position: relative;
    display: block;
    min-width: 100%;
    height: 138px;
    text-align: center;
}

#amazon .slc {
    position: relative;
    display: inline-block;
    height: 138px;
    padding: 0;
}


#amazon .plitka {
    display: inline-block;
    background: #6d6b6b;
    height: 100%;
    width: 125px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#amazon .plitka img {
    display: unset;
    width: 100%;
    text-indent: -999px;
    border-radius: 6px;
}

#amazon .ads-price-block {
    color: #428bca;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

#amazon .ads-brand {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#amazon .star-img img {
    width: 10px;
    height: 10px;
}

#amazon .snuggle {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.81) 100%, rgb(0, 0, 0) 100%);
    display: block;
    max-height: 138px;
    padding: 3px 0;
    position: absolute;
    transition: top 0.6s ease;
    top: 76px;
    z-index: 99;
}

#amazon .snuggle h6 {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 2px;
    max-height: 120px;
}

#amazon .slick-arrow {
    background: #ffffff;
    width: 25px;
    height: 100%;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease 0s;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    z-index: 10;
}

#amazon .slick-arrow > i.glyphicon {
    display: block;
    margin: 0;
    padding: 0;
    color: #999;
    font-size: 13px;
    position: absolute;
    top: 42%;
    left: 6px;
}

#amazon .slick-prev:before {
    font-family: FontAwesome, sans-serif;
    content: "\f104";
    color: #666;
    font-weight: bold;
    position: relative;
    top: 42%;
    left: 34%;
}

#amazon .slick-next:before {
    font-family: FontAwesome, sans-serif;
    content: "\f105";
    color: #666;
    font-weight: bold;
    position: relative;
    top: 42%;
    left: 34%;
}

#amazon .slick-next {
    right: 0;
}

#amazon .slick-prev {
    left: 0;
}

#amazon .ads-title{
    position: absolute;
    right: 59px;
    bottom: -20px;
    font-size: 10px;
    z-index: 3;
    float: right;
    color: #777;
}

#amazon .pb{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 200;
    height: 26px;
}

#amazon .slick-slide {
    max-height: none;
}

.slick-disabled {
    display: none !important;
}