.stn-header{
    margin: 20px auto;
}
.header-name{
    font-size: 40px;
    font-weight: 600;
    background: -webkit-linear-gradient(#b9ecff, #0550b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
.header-logo{
    margin-top: -17px;
}
.hero-banner{
    position: relative;
    background-color: #3f4049;
    padding: 100px 0;
    overflow: hidden;
    text-align: center;
}
.hero-banner:before{
    content: ' ';
    display: block;
    position: absolute;
    background-image: url("/resources/img/subpages/Investor_Relation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    top:0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-banner h1{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    z-index: 2;
    position: relative;
}
.stn-content{
    font-size: 16px;
    padding: 50px 0;
}
.stn-content b{
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
.bottom-fix {
    background: none repeat scroll 0 0 rgba(125,166,207,0.91);
    width: 100%;
    height: 53px;
    color: #fff;
    line-height: 53px;
    text-align: center;
}

@media (max-width: 480px) {
    .stn-header{
        text-align: center;
    }
    .header-name{
        font-size: 32px;
    }
}